*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
.cima{
    height: 100vh;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10%;
}
.logo{
    color: white;
    font-size: 29px;
}
span{
    color: rgb(33, 8, 66);;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 22px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    transition: .4s;
    color: rgb(33, 8, 66);
}
.home{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    color: white;
    font-size: 80px;
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    font-weight: 900px;
}
p{
    margin-bottom: 25px;
    color: white;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 500;
}
.gradient{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #513252, #7A4069, #CA4E79, #FFC18E);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}
